
body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.box {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: #1e293b;
    text-align: center;
    border-radius: 10px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: limegreen;
    border: none;
    cursor: pointer;
}
